<style>
    .tm-img-1-container {
        width: 250px !important;
        height: 160px;
        overflow: hidden;
        margin: 0;
        display: inline-block;
        vertical-align: top;
    }

        .tm-img-1-container img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
</style>

<section class="container margin-bottom-50">
    <div class="row">
        <h2 class="col-lg-12 text-center text-uppercase margin-bottom-30">Gücün ve Şıklığın Yeni Adı</h2>
        <p class="col-lg-12 text-center margin-bottom-30">Yüksek performanslı, göz alıcı tasarımlara sahip araçlarımızla sürüş deneyiminizi zirveye taşıyın. Hayal ettiğiniz lüks burada başlıyor.</p>
        <div class="col-lg-12 tm-overflow-hidden">
            <div class="tm-img-1-container">
                <img src="/img/Honda-Civic-Sedan-LPG-1.jpg" alt="Image description">
                <p class="tm-img-1-description">Honda</p>
            </div>
            <div class="tm-img-1-container">
                <img src="/img/Fiat_Egea_Cross.jpg" alt="Image description">
                <p class="tm-img-1-description">Fiat</p>
            </div>
            <div class="tm-img-1-container">
                <img src="/img/kia-rio-facelift.jpg" alt="Image description">
                <p class="tm-img-1-description">Kia</p>
            </div>
            <div class="tm-img-1-container">
                <img src="/img/mercedes-3417100_640.jpg" alt="Image description">
                <p class="tm-img-1-description">Mercedes</p>
            </div>
        </div>
    </div>
</section>

<!--Main content-->
<section class="container margin-bottom-50">
    <div class="services-container-1">
        <h2 class="services-title">Customer Services</h2>
        <div class="services-blocks-container">
            <div class="services-block">
                <div class="services-header">
                    <i class="fa fa-plus services-icon"></i>
                    <h3 class="services-title-2">MÜŞTERİ DESTEK HİZMETİ</h3>
                </div>
                <p class="services-description">Müşteri taleplerine hızlı ve etkili çözümler sunmak amacıyla geliştirdiğimiz destek sistemimiz sayesinde, her türlü soru ve sorununuz kısa sürede yanıt bulur. Araç bakımı, garanti süreçleri, teknik sorunlar veya önerileriniz için haftanın 7 günü destek sunuyoruz. Amacımız, her müşterimize özel ve çözüm odaklı bir hizmet sunmaktır.</p>
            </div>
            <div class="services-block">
                <div class="services-header">
                    <i class="fa fa-plus services-icon"></i>
                    <h3 class="services-title-2">SATIŞ DANIŞMANLIĞI</h3>
                </div>
                <p class="services-description">Araç satın alma süreciniz boyunca finansman seçeneklerinden sigorta işlemlerine, test sürüşünden takas hizmetine kadar her adımda size profesyonel danışmanlık sunuyoruz. Deneyimli satış temsilcilerimiz, ihtiyaçlarınıza en uygun aracı ve hizmeti bulmanız için yanınızda. Satın alma sürecinizi güvenli, kolay ve memnuniyet odaklı hale getiriyoruz.</p>
            </div>
        </div>
        <div class="services-blocks-container">
            <div class="services-block">
                <div class="services-header">
                    <i class="fa fa-plus services-icon"></i>
                    <h3 class="services-title-2">TESLİMAT VE TESLİMAT ÖNCESİ HAZIRLIKLAR</h3>
                </div>
                <p class="services-description">Araç teslimat sürecimiz, yüksek kalite standartlarıyla planlanmış bir şekilde ilerler. Teslimat öncesinde aracınızın tüm teknik kontrolleri yapılır, ruhsat ve plaka işlemleri tamamlanır. Size sadece arabanızın keyfini çıkarmak kalır. Süreç boyunca size SMS ve e-posta ile bilgilendirme yapılır; her aşamadan haberdar olursunuz.</p>
            </div>
            <div class="services-block">
                <div class="services-header">
                    <i class="fa fa-plus services-icon"></i>
                    <h3 class="services-title-2">SATIŞ SONRASI HİZMETLER</h3>
                </div>
                <p class="services-description">Aracınızı teslim aldıktan sonra da desteğimiz devam eder. Periyodik bakım hatırlatmaları, yedek parça temini, teknik servis randevuları gibi tüm işlemler için dijital platformlarımızdan kolayca işlem yapabilirsiniz. Müşteri memnuniyetini en üst seviyede tutmak için tüm taleplerinize hızlı ve çözüm odaklı yaklaşırız.</p>
            </div>
        </div>
    </div>

   

    <!--banner-->
    <div class="tm-banner">
        <h2 class="tm-banner-title">Maecenas</h2>
        <p class="tm-banner-description">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
        <a href="#" class="tm-banner-link"><i class="fa fa-play"></i></a>
    </div>
</section> 
