@{
    Layout = null;
    ViewData["Title"] = "Yakında Açılıyor!";
}

<link href="/css/Landing.css" rel="stylesheet" />

<div class="landing-container">
    <h1>YAKINDA HİZMETİNİZDEYİZ!</h1>
    <p>
        Sizin için harika bir şey hazırlıyoruz. Daha iyi bir deneyim sunmak için tüm detayları özenle tamamlıyoruz.
        Lütfen biraz bekleyin ve çok yakında döneceğimizden emin olun.
    </p>
    <a href="@Url.Action("Index", "Home")" class="btn">Ana Sayfaya Git</a>
</div>


