@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Yönetim Giriş Paneli</title>

   
    <link href="/admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="/admin/nprogress/nprogress.css" rel="stylesheet">
    
    <link href="/admin/animate.css/animate.min.css" rel="stylesheet">

    
    
    <link href="/admin/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form action="/admin/login" method="post">
                        <input type="hidden" name="returnurl" value="@ViewBag.ReturnUrl" />
                        @Html.AntiForgeryToken()
                        <h1>Yönetim Paneli Giriş</h1>
                        <div>
                            <input name="username" type="text" class="form-control" placeholder="Kullanıcı Adı" required="" />
                        </div>
                        <div>
                            <input name="password" type="password" class="form-control" placeholder="Şifre" required="" />
                        </div>
                        @if (ViewBag.info != null)
                        {
                            <span style="color:red"> @ViewBag.info</span>
                        }
                        <div>
                            <button class="btn btn-default submit" type="submit"> Giriş Yap</button>
                            
                        </div>

                        <div class="clearfix"></div>


                    </form>
                </section>
            </div>

           
        </div>
    </div>
</body>
</html>
